<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>БОБКА</title>
</head>
<body>
    <h1>Main page</h1>
    <br>
    <br>
    <button onclick="autoMode('ON')">Turn On Auto mode</button>
    <button onclick="autoMode('OFF')">Turn Off Auto mode</button>
    <br>
    <br>
    <form action="/sensors" method="get">
        <button type="submit">Click to go to sensors graph page</button>
    </form>
    <br>
        <form action="/control" method="get">
        <button type="submit">Click to go to control page</button>
    </form>
    
    <h2>Made by Liubomir Stanev - 12G</h2>

    <script>
        function autoMode(state) {
            fetch(`/autoMode?state=${state}`)
                .then(response => response.text())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        }
    </script>

</body>
</html>
